<div class="parameters-block-list__item parameters-variables__item flex-inputs two" data-item-id="{{itemID}}">
    <div class="input text">
        <label for="variables-{{itemID}}-name">Nombre</label><input type="text" name="variables[{{itemID}}][name]" id="variables-{{itemID}}-name">
    </div><!-- .input -->
    
    <div class="input text">
        <label for="variables-{{itemID}}-value">Valor</label><input type="text" name="variables[{{itemID}}][value]" id="variables-{{itemID}}-value">
    </div><!-- .input -->

    <span class="button parameters-block-list__remove-item"><i class="fas fa-trash"></i></span>
</div>
