// -------------------------- */
// -------- COLOURS --------- */
// -------------------------- */
$main-color: #000000;
$extra-color: #EEEEEE;
$bg-color: #FFFFFF;
$light-gray: #F4F4F4;
$medium-gray: #666666;
$navGray: #3e4550;
$dark-gray: #151A1C;
$gray-9: #999999;
$gray-a: #AAAAAA;
$gray-d: #DDDDDD;
$gray-e: #EEEEEE;
$gray: #f3f4f6;
$black: #000000;
$white: #FFFFFF;
$dark-blue: #232B2D;
$blue: #4285F4;
$red: #BE0411;
$green: rgba(45, 153, 53, 1);
$iconsGreen: #53C7AD;
$yellow: #fab437;
$orange: #F3933D;
$blue-icon: #0096FF;
$border-grey: rgba(0, 0, 0, .125);

// -------------------------- */