// -------------------------- */
// ----- NEO VARIABLES ------ */
// -------------------------- */

// HEADER
$header-height: 140px;
$header-home-height: 200px;
$header-fixed-height: 80px;
$header-responsive-height: 80px;

$logo-height: 50px;
$logo-home: 80px;

// GENERAL CONTENT
$font-size: 14px;
$smaller-font-size: 0.8em;
$small-font-size: 0.9em;
$medium-font-size: 1.2em;
$big-font-size: 1.6em;
$bigger-font-size: 2.5em;
$line-height: 1.2em;
$big-line-height: 1.4em;
$font-weight: 400;

$content-max-width: 1200px;
$tiny-gap: 5px;
$small-gap: 10px;
$medium-gap: 15px;
$gap: 20px;
$big-gap: 40px;

$border-radius-size: 0.7em;
$orange-border: 1px solid $orange;

// MENU
$menu-width: 220px;
$menu-small-width: 50px;

// FOOTER
$footer-height: 240px;
$social-icon-size: 30px;
$social-icon-border-width: 2.5px;

// FONT
$main-font: $lato;
$titles-font: $lato;

// CARDS
$card-padding-s: 2rem;
$card-padding-m: 3rem;

// PADDINGS
$padding-s: 1rem;
$padding-m: 2rem;


// -------------------------- */
