// BOTON ADMINISTRADOR
.button {
    display: inline-block;
    padding: $tiny-gap $small-gap;
    margin: auto;
    color: $medium-gray;
    background-color: white;
    border: 1px solid $gray-a;
    border-radius: $border-radius-size;
    font-size: $small-font-size;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.2s ease-out;
    box-shadow: 0 2px 6px 0 rgba(136, 148, 171, .2), 0 24px 20px -24px rgba(71, 82, 107, .1);

    &.white {
        border-color: $white;
        color: $white;
    }

    &:hover {
        color: $black;
        background-color: $orange;
        border-color: $orange;
        text-decoration: none;
    }
}