// BOTON ADMINISTRADOR
.button {
    display: inline-block;
    padding: $tiny-gap $small-gap;
    color: $medium-gray;
    border-radius: $border-radius-size;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.2s ease-out;
    box-shadow: $box-shadow;

    &.white {
        border-color: $white;
        color: $white;
    }

    &:hover {
        color: $black;
        background-color: $orange;
        border-color: $orange;
        text-decoration: none;
    }
}