// TABS
.tabs {
    .tabs-header {
        .tab{
            display: inline-block;
            padding: $small-gap $gap;
            margin: 0 $small-gap;
            border-bottom: 5px solid transparent;
            background-color: transparent;
            color: $medium-gray;
            text-align: center;
            text-transform: uppercase;
            font-weight: bold;
            @include default-transition(0.2s);
            cursor: pointer;

            &:hover{
                color: $black;
                border-bottom: 5px solid $medium-gray;
            }
            &.current{
                color: $black;
                border-bottom: 5px solid $orange;
            }
        }
    }
    .tabs-content {
        padding-bottom: $small-gap;
        .tab {
            display: none;

            &.current {
                display: block;
            }
        }
    }
}
