/* -------------------------- */
/* ------ GENERAL GRID ------ */
/* ------ LAYOUT ------------ */
/* -------------------------- */
html,
body {
    min-height: 100%;
    height: 100%;
    font-size: $font-size;
    font-family: $main-font;
    font-weight: 300;
    line-height: $line-height;
    background: $gray;
}

body {
    overflow-x: hidden;
}

#container {
    background-color: white;
}

body.lock {
    overflow-y: hidden;
}

a {
    color: $black;
    text-decoration: none;
}

.nowrap {
    white-space: nowrap;
}

/* FLOW CONTENT */
#main-content {
    width: 100%;
    min-height: 100vh;
    padding: 0 0 0 $menu-width;
    @include default-transition(0.2s);

    &.wide {
        padding-left: $menu-small-width;

        header {
            width: calc(100% - 50px);
        }
    }
}

.no-results {
    padding: $gap;
    margin: 0;
    font-size: $big-font-size;
    text-align: center;
}

/* -------------------------- */

/* -------------------------- */
/* ----- CONTENT LAYOUT ----- */
/* -------------------------- */

// PAGINATOR
.paginator {
    display: flex;
    justify-content: center;

    margin-bottom: $tiny-gap;
    text-align: right;
    font-size: $medium-font-size;

    li {
        display: inline-block;
        margin: 0 $tiny-gap;

        a {
            display: inline-block;
            padding: $small-gap $gap;
            border-radius: $border-radius-size;
            color: $navGray;

            @include default-transition(0.2s);

            &:hover {
                color: $white;
                background-color: $orange;
                text-decoration: none;
            }
        }

        &.active {
            color: $white;
            background-color: $orange;
            border-radius: $border-radius-size;

            a {
                color: $white;
                border-radius: $border-radius-size;

                &:hover {
                    color: $white;
                    background-color: $orange;
                    text-decoration: none;
                }
            }
        }

        &.disabled {
            a {
                color: $gray-d;
                background-color: transparent;
            }
        }
    }
}

// RESULTS
.results {
    .top-results {
        display: table;
        width: 100%;

        .result-types {
            display: table-cell;
            vertical-align: bottom;
            padding: $tiny-gap;
            text-align: left;
        }

        .num-results {
            display: table-cell;
            vertical-align: bottom;
            padding: $tiny-gap;
            text-align: right;
        }
    }

    .status {
        padding: $tiny-gap;

        .current {
            font-weight: bold;
        }
    }

    ul {
        list-style-type: disc;
        padding-left: $gap;

        ul {
            list-style-type: circle;
        }
    }

    // RESULTS TABLE
    table {
        width: 100%;
        margin-bottom: $gap;
        box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
        overflow: hidden;
        border-radius: $border-radius-size;

        th,
        td {
            padding: $medium-gap;
            text-align: left;
            vertical-align: middle;
            // border-bottom: 1px solid $gray-d;

            &.actions {
                min-width: 240px;
                width: 15%;
                text-align: center;

                &.short {
                    min-width: 0;
                }
            }
        }

        // TABLE HEADER
        thead {
            background-color: $navGray;
            color: white;

            th {
                padding: $padding-s $padding-m;
                text-align: start;
                font-weight: 500;
                border: unset;

                &.fa-wrapper {
                    font-size: 20px;
                }

                a {
                    color: $white;

                    &:hover {
                        text-decoration: underline;
                    }
                }

                &:first-child {
                    padding: $padding-s $padding-m;
                }
            }
        }

        tbody {

            tr {
                background-color: white;

                &:nth-child(1n) {
                    background-color: $white;
                }

                &:nth-child(2n) {
                    background-color: $light-gray;
                }
            }

            td {
                border: unset !important;
                padding: 1rem 2rem;

                &.actions {
                    .td-content {
                        display: flex;
                        width: 30%;
                        margin: auto;
                        font-size: 1.4rem;
                        justify-content: space-between;

                        .green-icon {
                            color: $iconsGreen;
                        }

                        .red-icon {
                            color: red;
                        }

                        .blue-icon {
                            color: $blue-icon;
                        }
                    }
                }
            }

            .user-perms {
                display: block;
                position: relative;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;

                /* Hide the browser's default radio button */
                input[type="radio"] {
                    position: absolute;
                    opacity: 0;
                    width: 20px;
                    height: 20px;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    z-index: 1;
                    cursor: pointer;

                    &:hover {
                        ~.checkmark {
                            background-color: $black;
                        }
                    }

                    &:checked {
                        ~.checkmark {
                            background-color: $orange;
                        }
                    }
                }

                /* Create a custom radio button */
                .checkmark {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    height: 20px;
                    width: 20px;
                    background-color: #aaa;
                    border-radius: 50%;
                    transform: translate(-50%, -50%);
                    cursor: pointer;

                    &:after {
                        content: "";
                        position: absolute;
                        display: none;
                        top: 9px;
                        left: 9px;
                        width: 8px;
                        height: 8px;
                        border-radius: 50%;
                        background: white;
                    }
                }
            }

            // TABLE ACTIONS
            .actions {
                padding: $small-gap;

                .button {
                    width: calc(50% - 12px);
                    padding: $tiny-gap $small-gap;
                    margin: $tiny-gap;
                    font-size: $small-font-size;
                    text-align: center;
                    line-height: $line-height;

                    &.fullwidth {
                        width: calc(100% - 14px);
                        margin-bottom: 5px;
                    }

                    &.more {
                        min-width: 0px;
                    }
                }
            }
        }
    }

    .table {
        .tr {
            display: flex;
            align-content: center;
            width: 100%;

            .th,
            .td {
                &.grow {
                    flex-grow: 1;
                }
            }

            .th,
            .td {
                display: flex;
                flex-direction: column;
                justify-content: center;

            }

            .th {

                &.sort,
                &.actions,
                &.center {
                    align-items: center;
                }
            }
        }
    }

    .admin-form {
        margin-bottom: 0;

        .input {
            padding: 0;
        }
    }
}

/* -------------------------- */

/* ADD STYLES */
.hidden {
    display: none !important;
}