/* -------------------------- */
/* ----- SIDEBAR LAYOUT ----- */
/* -------------------------- */
/* NAVIGATION */
nav {
    width: $menu-width;
    height: 100%;
    position: fixed;
    z-index: 10;
    background-color: $navGray;
    @include default-transition(0.2s);

    &.closed {
        transform: translateX(-100%);
    }

    .content-nav {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
    }

    .logo {
        display: flex;
        align-items: flex-start;
        width: 70%;
        min-height: $logo-height;
        padding: $small-gap;
        margin: auto;

        a {
            flex-grow: 1;
        }

        .close {
            padding: 0 $small-gap;
            color: $white;
            text-align: center;
            cursor: pointer;
            font-size: $big-font-size;
        }

        img {
            display: block;
            margin: auto;
            max-width: 100%;
            max-height: 100%;
        }
    }

    .items {
        flex-grow: 1;
        overflow-y: auto;

        .accordion {
            .header {
                display: flex;
                justify-content: space-between;
                align-items: center;
                color: $gray-a;
                @include default-transition(0.2s);

                .icon {
                    padding: $gap $gap $small-gap $gap;
                }

                .name {
                    padding: $gap 0 $small-gap;
                    flex-grow: 2;
                }

                .arrow {
                    padding: $gap $gap $small-gap $small-gap;
                    font-size: 20px;

                    .fa-caret-right {
                        transform-origin: center center;
                        @include default-transition(0.5s);
                    }
                }
            }

            .content {
                overflow: hidden;
                max-height: 0px;
                margin-bottom: $small-gap;
                @include default-transition(0.5s);
            }

            &.is_active {
                .header {
                    color: $orange;

                    .arrow {
                        .fa-caret-right {
                            transform: rotate(90deg);
                        }
                    }
                }

                .content {
                    max-height: 300px;
                }
            }

            &:hover {
                .header {
                    color: $orange;
                }
            }
        }

        .menu-title {
            letter-spacing: 1px;
            cursor: pointer;
            text-transform: uppercase;
            @include default-transition(0.2s);
        }

        .menu-item {
            display: flex;
            flex-direction: row;
            gap: 15px;
            position: relative;
            color: $white;
            text-decoration: none;
            overflow: hidden;
            padding: $gap*0.5 $gap;
            @include default-transition(0.2s);

            &:hover {
                color: $orange;
                background-color: rgba(255, 255, 255, 0.2);
            }

            &.current {
                color: $orange;
                font-weight: 600;
                background-color: rgba(255, 255, 255, 0.2);
            }

            svg {
                width: 1.5em;
            }
        }
    }

    .logout {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: $tiny-gap $gap;
        border-top: 1px solid $medium-gray;
        text-align: right;
        color: $gray-a;

        a {
            color: inherit;

            &:hover {
                color: $orange;
            }
        }
    }

    &.small {
        width: $menu-small-width;
        z-index: 9;

        .open {
            height: 51px;
            padding: $small-gap;
            margin-bottom: $small-gap;
            border-bottom: 1px solid $white;
            color: $white;
            text-align: center;
            cursor: pointer;
            font-size: $big-font-size;
        }

        .wrapper-items {
            flex-grow: 1;
            overflow-y: auto;
        }

        .items {
            overflow-y: visible;

            .menu-icon {
                position: relative;
                @include default-transition(0.2s);
                margin-bottom: $small-gap;

                .icon {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    padding: $small-gap $small-gap $small-gap $small-gap + $tiny-gap;
                    text-align: center;
                    color: $white;
                    cursor: pointer;
                }

                .sub-menu {
                    position: fixed;
                    top: 0;
                    left: 0;
                    display: flex;
                    flex-direction: column;
                    visibility: hidden;
                    opacity: 0;
                    flex-wrap: wrap;
                    width: 280px;
                    border: 1px solid $gray-d;
                    background-color: $white;
                    color: $dark-blue;
                    transition: visibility 0s linear 0.2s,
                        opacity 0.2s ease-out 0s, transform 0s ease-out 0.2s;

                    .name {
                        display: block;
                        padding: 10px 20px;
                        border-bottom: 1px solid $gray-d;
                        background-color: $light-gray;
                        text-transform: uppercase;
                        font-weight: 600;
                    }

                    .menu-item {
                        margin: 15px 0;
                        color: inherit;

                        &:hover {
                            border-color: $orange;
                        }
                    }

                    &.show {
                        visibility: visible;
                        opacity: 1;
                    }
                }

                &:hover {
                    .icon {
                        color: $orange;
                    }
                }

                &.is_active {
                    .icon {
                        padding: $small-gap;
                        border-left: 5px solid $orange;
                        color: $orange;
                        font-weight: 600;
                    }
                }
            }
        }

        .logout {
            padding: $tiny-gap;
            justify-content: center;
        }
    }
}

.home-selector {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 11;
    background: white;

    &.visible {
        display: block;
        background-color: $gray;
        overflow-y: scroll;

        .row {
            display: flex;
            flex-wrap: wrap;
            margin: 0 1rem;
            gap: 0.75rem;
        }

        .col {
            flex: 1 0 0%;
        }

        .card {
            position: relative;
            display: flex;
            flex-direction: column;
            min-width: 0;
            word-wrap: break-word;
            background-color: white;
            margin-bottom: 1.5rem;
            box-shadow: $box-shadow;
            height: 100%;
            border-radius: $border-radius-size;

            &.card-plain {
                background-color: transparent;
                box-shadow: none;
                border: unset !important;
            }

            &.border {
                border: 1px solid #dee2e6;
            }

            &.add-project {
                display: flex;
                flex-direction: column;
                justify-content: center;
                text-align: center;
                height: 100%;
                border: 1px solid rgba(0, 0, 0, .125) !important;

                &:hover {
                    background-color: $gray-a;
                    transition: 0.3s ease-out;
                    cursor: pointer;
                    text-decoration: none;

                    * {
                        color: white;
                    }
                }
            }

            .card-title {
                font-size: 2rem;
                font-weight: 600;
            }

            .card-header {
                display: flex;
                justify-content: center;
                padding: $card-padding-s;
                padding-top: $card-padding-m;
                background-color: $navGray;
                color: white;
            }

            .card-body {
                padding: $card-padding-s;

                .project {
                    &-description {
                        margin-bottom: 1.5rem;
                        font-size: 1rem;
                        line-height: 1.5;
                        font-weight: 300;
                    }

                    &-title {
                        font-size: 1.25rem;
                        line-height: 1.375;
                        font-weight: 600;
                        padding: 1rem 0;
                    }

                    &-button {
                        border-radius: $border-radius-size;
                        padding: 10px 20px;

                        &:hover {
                            background-color: $orange;
                            color: white;
                        }
                    }
                }
            }
        }
    }
}

/* -------------------------- */